<!DOCTYPE html>
<html lang="en" class="color_scheme desktop landscape" style="overflow: auto;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		

		<title>Sally's Collection | @ViewData["Title"]</title>		

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--[if IE]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		<link href="~/assets/css/site.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" async="" src="~/assets/lib/js/trekkie.storefront.min.js"></script><script>
			var theme = {
				moneyFormat: "${{amount}}",
			};
		</script>
	<link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 1751482427,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "cart"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config || {};
    trekkie.config.initialDocumentCookie = document.cookie;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 1751482427,
      theme_id: 13356662843,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "https://cdn.shopify.com/s/trekkie.storefront.61e828e6777cdb0a282d318c770e463a59ad464f.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.61e828e6777cdb0a282d318c770e463a59ad464f.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/trekkie.storefront.61e828e6777cdb0a282d318c770e463a59ad464f.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":1751482427,"isMerchantRequest":null,"themeId":13356662843,"themeCityHash":"15980368589860574452","contentLanguage":"en","currency":"USD"},"isServerSideCookieWritingEnabled":true},"Session Attribution":{},"S2S":{"emitV4CheckoutEvent":true,"facebookCapiEnabled":false,"source":"trekkie-storefront-renderer"}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.application = "storefront-renderer";
        window.BOOMR.themeName = "SuitUp";
        window.BOOMR.themeVersion = "1.0.0";
        window.BOOMR.shopId = 1751482427;
        window.BOOMR.themeId = 13356662843;
        window.BOOMR.url =
          "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
        var where = document.currentScript || document.getElementsByTagName("script")[0];
        var parentNode = where.parentNode;
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
          script.async = true;
          parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement("script");
            script.id = scriptId || "boomr-if-as";
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = "s";
            bootstrap(parentNode, "boomr-async");
            return;
          }
          iframe = document.createElement("IFRAME");
          iframe.src = "about:blank";
          iframe.title = "";
          iframe.role = "presentation";
          iframe.loading = "eager";
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
          parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write("<body onload='document._boomrl();'>");
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener("load", win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent("onload", win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement("link");
        if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
          link.href = window.BOOMR.url;
          link.rel = "preload";
          link.as = "script";
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener("onBoomerangLoaded", function(e) {
            e.detail.BOOMR.init({
              producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
              ResourceTiming: {
                enabled: true,
                trackedResourceTypes: ["script", "img", "css"]
              },
            });
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent("onpropertychange", function(e) {
            if (!e) e=event;
            if (e.propertyName === "onBoomerangLoaded") {
              e.detail.BOOMR.init({
                producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
                ResourceTiming: {
                  enabled: true,
                  trackedResourceTypes: ["script", "img", "css"]
                },
              });
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();
    

    window.ShopifyAnalytics.lib.page(null,{});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-fa61fd11817b231631d2fe43dc869d0b1d14a06332792d42f1a1d94bda5aa31e.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script><script async="" src="~/assets/lib/js/shop_events_listener.js."></script>
<link href="~/assets/lib/js/shopify-boomerang-1.0.0.min.js" rel="preload" as="script">
<script id="boomr-scr-as" src="~/assets/lib/js/shopify-boomerang-1.0.0.min.js" async=""></script>
<style type="text/css">.fancybox-margin{margin-right:17px;}</style></head>

	<body class="template-cart scheme_1" data-new-gr-c-s-check-loaded="14.1056.0" data-gr-ext-installed="" style="overflow: auto;">
		<div class="page_wrapper">

			<div id="page_preloader__bg" class="on">
				<img id="page_preloader__img" src="~/assets/lib/js/shopify_logo.gif" alt="" class="on">
			</div>

			<script>
				preloaderBg = document.getElementById('page_preloader__bg');
				preloaderImg = document.getElementById('page_preloader__img');

				window.addEventListener('load', function() {
					preloaderBg.classList.add("off");
					preloaderImg.classList.add("off");
				});

			</script>

			

				<div id="shopify-section-header" class="shopify-section"><div id="pseudo_sticky_block" style="height: 0px;"></div>




<header id="page_header" class="">
	<div class="page_container">
		<div class="top_pannel "> 
			<div class="container"> 
				<div class="top_pannel_text">Order online or call us (1800) 000 8808</div>

				<div class="top_pannel_menu">

					
					
						<div class="header_search">
							<span class="search_toggle"><i class="fa fa-search" aria-hidden="true"></i><b>Search</b><i class="fa fa-times"></i></span>
							<form action="https://theme396-clothes.myshopify.com/search" method="get" role="search" class="search_form">
								<input type="search" name="q" placeholder="Search" aria-label="Search">

								<button type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>

							
								<script>
									theme.searchAjaxOn = true;
								</script>

								<div id="search_result_container"></div>
							
						</div>
					
					
					
					
						<div class="header_account">
							<a href="https://theme396-clothes.myshopify.com/account" title="My account"><i class="fa fa-user" aria-hidden="true"></i></a>

							
						</div>
					
					

					
					
						<div class="header_wishlist">
							<a href="https://theme396-clothes.myshopify.com/pages/wishlist"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
						</div>
					
					
					
					
						
						@RenderBody()
						
						<div class="currency_selector">
							<div class="currency_selector__wrap" title="Currency">
								<div id="currency_active">USD</div>

								<ul id="currency_selector">
									<li data-value="USD" id="currency_selected" class="currency_selector__item">USD</li>

									
										
									
										
											<li data-value="EUR" class="currency_selector__item">EUR</li>
										
									
										
											<li data-value="GBP" class="currency_selector__item">GBP</li>
										
									
								</ul>
							</div>
						</div>

						<script>
							theme.shopCurrency = "USD";
							theme.moneyFormat = "${{amount}}";
							theme.moneyFormatCurrency = "${{amount}} USD";
						</script>

						<script src="~/assets/lib/js/currencies.js" defer=""></script>
						<script src="~/assets/lib/js/currency-tools.js" defer=""></script>
					

				</div>
			</div>
		</div>

		<div class="header_wrap1">   
			<div class="container header_main_wrap">
				<div class="header_wrap2 header_left">
					

					
							
								<a class="header_logo" href="https://theme396-clothes.myshopify.com/">
									<img src="~/assets/images/logo_100x30_crop_center.png" alt="SuitUP">
									
								</a>
							

					
				</div>

				<div class="header_wrap2 header_center">
					
						<nav id="megamenu" class="megamenu megamenu_desktop">
							<h2 id="megamenu_mobile_toggle"><i class="fa fa-bars" aria-hidden="true"></i>Menu</h2>

							<div id="megamenu_mobile_close">
								<div class="close_icon"></div>
							</div>

							<ul id="megamenu_level__1" class="level_1 sf-js-enabled sf-arrows">
								
									
									
									

									<li class="level_1__item level_2__links">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/">Home
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1525779437325"></i> 
										</a>

										
												
													<ul class="level_2" id="menu_1525779437325">
														<li class="container">
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/"><img src="~/assets/images/01_3b0af514-7d0d-4a36-9ded-a1cfb6c07442_255x180_crop_center.jpg" alt="Clothes">
																			
																		
																			<h4>Clothes</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme409-electronics.myshopify.com/"><img src="~/assets/images/02_255x180_crop_center.jpg" alt="Electronics">
																			
																		
																			<h4>Electronics</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme410-spare-parts.myshopify.com/"><img src="~/assets/images/04_255x180_crop_center.jpg" alt="Spare Parts">
																			
																		
																			<h4>Spare Parts</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme411-wheels-tires.myshopify.com/"><img src="~/assets/images/05_255x180_crop_center.jpg" alt="Wheelse &amp; Tires">
																			
																		
																			<h4>Wheelse &amp; Tires</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme412-bags.myshopify.com/"><img src="~/assets/images/03_8691d777-f56a-4f7e-b48c-579f2ea56294_255x180_crop_center.jpg" alt="Bags">
																			
																		
																			<h4>Bags</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme413-furniture.myshopify.com/"><img src="~/assets/images/06_4a8a2797-23e6-4c6c-81dc-c4d4274c1caa_255x180_crop_center.jpg" alt="Furniture">
																			
																		
																			<h4>Furniture</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme414-food.myshopify.com/"><img src="~/assets/images/07_255x180_crop_center.jpg" alt="Food">
																			
																		
																			<h4>Food</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/cart#"><img src="~/assets/images/08_77d8e1cb-13f1-4545-a882-89f5e59f594c_255x180_crop_center.jpg" alt="">
																			
																		
																			<h4></h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
															
																
																
																

																
															
																
																
																

																
															
																
																
																

																
															
														</li>
													</ul>
												

											

									</li>

								
									
									
									

									<li class="level_1__item level_2__links">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections">Listing Layout
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1525679653045"></i> 
										</a>

										
												
													<ul class="level_2" id="menu_1525679653045">
														<li class="container">
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/product-listing-with-right-sidebar"><img src="~/assets/images/pic_1_255x180_crop_center.jpg" alt="Right Sidebar">
																			
																		
																			<h4>Right Sidebar</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/footwear"><img src="~/assets/images/pic_2_255x180_crop_center.jpg" alt="Left Sidebar">
																			
																		
																			<h4>Left Sidebar</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/product-listing-no-sidebar"><img src="~/assets/images/pic_3_255x180_crop_center.jpg" alt="No Sidebar">
																			
																		
																			<h4>No Sidebar</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/product-listing-big"><img src="~/assets/images/pic_4_255x180_crop_center.jpg" alt="Big Product">
																			
																		
																			<h4>Big Product</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/product-listing-small"><img src="~/assets/images/pic_5_255x180_crop_center.jpg" alt="Small Product">
																			
																		
																			<h4>Small Product</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/products/bing-trim-fit-cotton-jersey-polo"><img src="~/assets/images/pic_6_255x180_crop_center.jpg" alt="Product page Carousel layout">
																			
																		
																			<h4>Product page Carousel layout</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/products/quilted-leather-jacket"><img src="~/assets/images/pic_7_255x180_crop_center.jpg" alt="Product page Sticky layout">
																			
																		
																			<h4>Product page Sticky layout</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
																	<div class="megamenu_col__item align_center">
																	
																		<a href="https://theme396-clothes.myshopify.com/collections/listing-load-more-pagination"><img src="~/assets/images/pic_8_255x180_crop_center.jpg" alt="Listing Load More pagination">
																			
																		
																			<h4>Listing Load More pagination</h4>
																		
																		</a>
																	</div>
																
															
																
																
																

																
															
																
																
																

																
															
																
																
																

																
															
																
																
																

																
															
														</li>
													</ul>
												

											

									</li>

								
									
									
									

									<li class="level_1__item level_2__links">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/pages/faq">Features
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1525695535044"></i> 
										</a>

										
												
													<ul class="level_2" id="menu_1525695535044">
														<li class="container">
															
																
																
<div class="megamenu_col__item ">
																	
																	
																	
																	<h3 class="visible">Layouts <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1525695535044-1"></i></h3>

																	<ul class="level_3" id="menu_1525695535044-1">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/">Clothes</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme409-electronics.myshopify.com/">Electronic</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme410-spare-parts.myshopify.com/">Spare Parts</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme411-wheels-tires.myshopify.com/">Wheelse &amp; Tires</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme412-bags.myshopify.com/">Bags</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme413-furniture.myshopify.com/">Furniture</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme414-food.myshopify.com/">Food</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																	
																	<h3 class="visible">Listing Layouts <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1525695535044-2"></i></h3>

																	<ul class="level_3" id="menu_1525695535044-2">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/product-listing-with-right-sidebar">Listing with right sidebar</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/footwear">Listing with left sidebar</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/product-listing-no-sidebar">Listing no sidebar</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/product-listing-big">Listing big products</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/product-listing-small">Listing small producrs</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/products/bing-trim-fit-cotton-jersey-polo">Product page Carousel layout</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/products/quilted-leather-jacket">Product page Sticky layout</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																	
																	<h3 class="visible">Pages <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1525695535044-3"></i></h3>

																	<ul class="level_3" id="menu_1525695535044-3">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/about-us">About Us</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/contact-us">Contact Us <span class="badge badge_hot">hot</span></a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/password-page">Password page</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/faq">Faq <span class="badge badge_new">new</span></a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/privacy-policy">Privacy Policy</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/wishlist">Wishlist</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/services">Services</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/404">404</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																	
																	<h3 class="visible">Blog Layouts <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1525695535044-4"></i></h3>

																	<ul class="level_3" id="menu_1525695535044-4">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/blogs/blog">Blog Grid Layout</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/blogs/news">Blog List Layout</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/blogs/news/our-employees-put-in-great-efforts-to-make-this-commodity">Article Page</a>
																			</li>
																		
																	</ul>
																</div>
															
														</li>
													</ul>
												

											

									</li>

								
									
									
									

									<li class="level_1__item level_2__small">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections">Megamenu
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1524227640085"></i> 
										</a>

										
												
													<ul class="level_2" id="menu_1524227640085">
														<li>
															<div><ul class="level_3">
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/">Home</a>

																			
																		</li>
																	


																		<li class="level_3__item with_ul">
																			<a class="level_3__link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/all">Catalog<i class="level_3__trigger megamenu_trigger" data-submenu="submenu_1524227640085-"></i></a>

																			
																				<ul class="level_3_2 droped_linklist" id="submenu_1524227640085-" style="display: none;">
																					

																							
																						<li class="level_3_2_item with_ul">
																							<a class="level_3_2_link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing<i class="level_3__trigger megamenu_trigger" data-submenu="subsubmenu_1524227640085-"></i></a>

																							
																								<ul class="level_3_3 droped_linklist" id="subsubmenu_1524227640085-" style="display: none;">
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																										</li>
																									
																								</ul>
																							
																						</li>
																					

																							
																						<li class="level_3_2_item with_ul">
																							<a class="level_3_2_link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing<i class="level_3__trigger megamenu_trigger" data-submenu="subsubmenu_1524227640085-"></i></a>

																							
																								<ul class="level_3_3 droped_linklist" id="subsubmenu_1524227640085-" style="display: none;">
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																										</li>
																									
																								</ul>
																							
																						</li>
																					

																							
																						<li class="level_3_2_item with_ul">
																							<a class="level_3_2_link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teens clothing<i class="level_3__trigger megamenu_trigger" data-submenu="subsubmenu_1524227640085-"></i></a>

																							
																								<ul class="level_3_3 droped_linklist" id="subsubmenu_1524227640085-" style="display: none;">
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																										</li>
																									
																										<li class="level_3_3_item">
																											<a class="level_3_3_link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																										</li>
																									
																								</ul>
																							
																						</li>
																					
																				</ul>
																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/about-us">About Us</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/contact-us">Contact Us</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/wishlist">Wishlist</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/password-page">Password page</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/privacy-policy">Privacy Policy</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/pages/services">Services</a>

																			
																		</li>
																	


																		<li class="level_3__item ">
																			<a class="level_3__link" href="https://theme396-clothes.myshopify.com/search">Search</a>

																			
																		</li>
																	
																</ul>
															</div>
														</li>
													</ul>
												

											

									</li>

								
									
									
									

									<li class="level_1__item level_2__links">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/all">Catalog
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1524467474031"></i> 
										</a>

										
												
													<ul class="level_2" id="menu_1524467474031">
														<li class="container">
															
																
																
<div class="megamenu_col__item ">
																	
																	
																		<img src="~/assets/images/collection012_c4ac3a23-6ab0-4892-b69b-7c0ec6250b04_255x180_crop_center.jpg" alt="Collections #1">
																	
																	
																	<h3>Collections #1 <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1524467474031-1"></i></h3>

																	<ul class="level_3" id="menu_1524467474031-1">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teen’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																		<img src="~/assets/images/collection011_dca9451e-53dd-4672-9a7c-6705823ef4f0_255x180_crop_center.jpg" alt="Collections #2">
																	
																	
																	<h3>Collections #2 <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1524467474031-2"></i></h3>

																	<ul class="level_3" id="menu_1524467474031-2">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teen’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																		<img src="~/assets/images/collection014_255x180_crop_center.jpg" alt="Collections #3">
																	
																	
																	<h3>Collections #3 <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1524467474031-3"></i></h3>

																	<ul class="level_3" id="menu_1524467474031-3">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teen’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing</a>
																			</li>
																		
																	</ul>
																</div>
															
																
																
<div class="megamenu_col__item ">
																	
																	
																		<img src="~/assets/images/collection013_255x180_crop_center.jpg" alt="Collections #4">
																	
																	
																	<h3>Collections #4 <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1524467474031-4"></i></h3>

																	<ul class="level_3" id="menu_1524467474031-4">
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teen’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing</a>
																			</li>
																		
																			<li class="level_3__item">
																				

																				<a class="level_3__link" href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
																			</li>
																		
																	</ul>
																</div>
															
														</li>
													</ul>
												

											

									</li>

								
									
									
									

									<li class="level_1__item level_2__blog">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/blogs/news">Blog
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1479747008568"></i> 
										</a>

										

													<ul class="level_2" id="menu_1479747008568">
														<li class="container">
															
															<div class="megamenu_col__item">
																
																	<div class="blog_img">
																		<img src="~/assets/images/08_350x308_crop_center.jpg" alt="Our employees put in great efforts to make this commodity">
																	</div>
																
																
																<div class="blog_info">
																	<p class="blog_date">
																		<span class="article_day">09</span>
																		May
																	</p>

																	<h3 class="blog_title"><a href="https://theme396-clothes.myshopify.com/blogs/news/our-employees-put-in-great-efforts-to-make-this-commodity">Our employees put in great efforts to make this comm...</a></h3>
																</div>
															</div>
															
															<div class="megamenu_col__item">
																
																	<div class="blog_img">
																		<img src="~/assets/images/07_350x308_crop_center.jpg" alt="How to Wear Cropped Jeans, Even When It’s Freezing Out">
																	</div>
																
																
																<div class="blog_info">
																	<p class="blog_date">
																		<span class="article_day">09</span>
																		May
																	</p>

																	<h3 class="blog_title"><a href="https://theme396-clothes.myshopify.com/blogs/news/how-to-wear-cropped-jeans-even-when-it-s-freezing-out">How to Wear Cropped Jeans, Even When It’s Freezing Out</a></h3>
																</div>
															</div>
															
															<div class="megamenu_col__item">
																
																	<div class="blog_img">
																		<img src="~/assets/images/06_350x308_crop_center.jpg" alt="Our employees put in great efforts to make this commodity.">
																	</div>
																
																
																<div class="blog_info">
																	<p class="blog_date">
																		<span class="article_day">09</span>
																		May
																	</p>

																	<h3 class="blog_title"><a href="https://theme396-clothes.myshopify.com/blogs/news/urban-fashion">Our employees put in great efforts to make this comm...</a></h3>
																</div>
															</div>
															
														</li>
													</ul>
												

										

									</li>

								
									
									
									

									<li class="level_1__item level_2__products">
										<a class="level_1__link sf-with-ul" href="https://theme396-clothes.myshopify.com/collections/sale">Sale
											<i class="level_1__trigger megamenu_trigger" data-submenu="menu_1479746552441"></i> 
										</a>

										

													<ul class="level_2" id="menu_1479746552441">
														<li class="container">
															
																<div class="megamenu_col__item">
																	<div class="product">
																		<div class="product_img">
																			<a href="https://theme396-clothes.myshopify.com/products/josefina-boyfriend-jeans-bright-light-broken-twill">
																				<img src="~/assets/images/josefina_boyfriend_jeans_bright_light_broken_twill_1_255x.jpg" alt="Josefina Boyfriend Jeans Bright Light Broken Twill">
																			</a>
																		</div>

																		<div class="product_info">
																			<p class="product_name">
																				<a href="https://theme396-clothes.myshopify.com/products/josefina-boyfriend-jeans-bright-light-broken-twill">Josefina Boyfriend Jeans Bright Light Broken Twill</a>
																			</p>

																			<p class="product_price">
																				<span class="money" data-currency-usd="$160.00">$160.00</span>

																				
																					<span class="money money_sale" data-currency-usd="$180.00">$180.00</span>
																				
																			</p>
																		</div>
																	</div>
																</div>
															
																<div class="megamenu_col__item">
																	<div class="product">
																		<div class="product_img">
																			<a href="https://theme396-clothes.myshopify.com/products/sloane-crewneck-cashmere-sweater">
																				<img src="~/assets/images/sloane_crewneck_cashmere_sweater_1_255x.jpg" alt="Sloane Crewneck Cashmere Sweater">
																			</a>
																		</div>

																		<div class="product_info">
																			<p class="product_name">
																				<a href="https://theme396-clothes.myshopify.com/products/sloane-crewneck-cashmere-sweater">Sloane Crewneck Cashmere Sweater</a>
																			</p>

																			<p class="product_price">
																				<span class="money" data-currency-usd="$110.00">$110.00</span>

																				
																					<span class="money money_sale" data-currency-usd="$115.00">$115.00</span>
																				
																			</p>
																		</div>
																	</div>
																</div>
															
																<div class="megamenu_col__item">
																	<div class="product">
																		<div class="product_img">
																			<a href="https://theme396-clothes.myshopify.com/products/slim-signature-silk-shirt">
																				<img src="~/assets/images/slim_signature_silk_shirt_1_255x.jpg" alt="Slim Signature Silk Shirt">
																			</a>
																		</div>

																		<div class="product_info">
																			<p class="product_name">
																				<a href="https://theme396-clothes.myshopify.com/products/slim-signature-silk-shirt">Slim Signature Silk Shirt</a>
																			</p>

																			<p class="product_price">
																				<span class="money" data-currency-usd="$360.00">$360.00</span>

																				
																					<span class="money money_sale" data-currency-usd="$369.00">$369.00</span>
																				
																			</p>
																		</div>
																	</div>
																</div>
															
																<div class="megamenu_col__item">
																	<div class="product">
																		<div class="product_img">
																			<a href="https://theme396-clothes.myshopify.com/products/quilted-leather-jacket">
																				<img src="~/assets/images/quilted_leather_jacket_1_255x.jpg" alt="Quilted Leather Jacket">
																			</a>
																		</div>

																		<div class="product_info">
																			<p class="product_name">
																				<a href="https://theme396-clothes.myshopify.com/products/quilted-leather-jacket">Quilted Leather Jacket</a>
																			</p>

																			<p class="product_price">
																				<span class="money" data-currency-usd="$190.00">$190.00</span>

																				
																					<span class="money money_sale" data-currency-usd="$199.00">$199.00</span>
																				
																			</p>
																		</div>
																	</div>
																</div>
															
														</li>
													</ul>
												

											

									</li>

								
							</ul>
						</nav>
					
				</div>

				<div class="header_wrap2 header_right">
					
						<div class="header_cart" id="main__cart_item">
							<a class="cart_link" href="https://theme396-clothes.myshopify.com/cart"><b><i class="fa fa-shopping-bag" aria-hidden="true"></i>My Cart: </b><span id="cart_items"> 2 </span> item(s)</a>

							
								<script>
									theme.cartAjaxOn = true;
									theme.cartAjaxTextEmpty = 'It appears that your cart is currently empty';
									theme.cartAjaxTextTotalPrice = 'Total price';
									theme.cartAjaxTextGoCart = 'Go to cart';
									theme.cartAjaxTextClearCart = 'Clear cart';
								</script>
								<div class="cart_content_wrap">
									<div class="cart_content_preloader off">
										<div class="global_loader"></div>
									</div>
									<div id="cart_content_box">
										
											<ul class="cart_list_items">
												
													<li class="cart_items" data-id="1">
														<img class="item_img" src="~/assets/images/classic_fit_three-piece_check_suit_1_90x90.jpg" alt="Classic Fit Three-Piece Check Suit - Gray">
														<div class="item_desc">
															<a class="product_title" href="https://theme396-clothes.myshopify.com/products/classic-fit-three-piece-check-suit">Classic Fit Three-Piece Check Suit</a>
															<span class="money" data-currency-usd="$140.00">$140.00</span>
															<p class="product_quantity">x2</p>
															<a class="item_remove_btn" href="https://theme396-clothes.myshopify.com/cart#" item-id="7204377264187"><i class="fa fa-trash"></i></a>
														</div>
													</li>
												 
											</ul>

											<div class="box_footer">
												<p class="cart_total"><b>Total price: </b><span class="money" data-currency-usd="$280.00">$280.00</span></p>
												<a id="clear_cart_all_items" class="cart_clear" href="https://theme396-clothes.myshopify.com/cart/clear"><i class="fa fa-refresh" title="Clear cart"></i></a>
												<a class="btn cart_url" href="https://theme396-clothes.myshopify.com/cart">Go to cart</a>
											</div>

										
									</div>
								</div>
							
						</div>
					
				</div>
			</div>
		</div>
	</div>
</header>

<style>
	#page_header .level_1__link:hover {color: #6fcfb8 !important;} 
	#page_header .header_cart:hover .cart_link {color: #6fcfb8 !important;} 
	#page_header .level_1__link.active  {color: #6fcfb8 !important;} 
</style>



</div>

				<div class="page_container">
					
						<div class="breadcrumbs">
	<div class="container">
		<ul>
			<li><a href="https://theme396-clothes.myshopify.com/">Home</a></li>

			
					<li><span>Your Shopping Cart</span></li>

			
		</ul>
	</div>
</div>
					

					
					
							<div class="main_content ">
								<div class="template_cart">
	<div class="container">
		<h1 class="page_heading">Your Shopping Cart</h1>

		
			<form action="https://theme396-clothes.myshopify.com/cart" method="post" novalidate="" class="cart">
				<table class="table table-bordered cart_items">
					<thead>
						<tr>
							<th class="column_product" colspan="2">Product</th>
							<th class="column_price">Price</th>
							<th class="column_quantity">Quantity</th>
							<th class="column_total">Total</th>
						</tr>
					</thead>

					<tbody>
						
							<tr>
								<td class="column_product_img">
									<a href="https://theme396-clothes.myshopify.com/collections/all/products/classic-fit-three-piece-check-suit?variant=7204377264187">
										<img class="cart__image" src="~/assets/images/classic_fit_three-piece_check_suit_1_200x.jpg" alt="Classic Fit Three-Piece Check Suit - Gray">
									</a>
								</td>

								<td class="column_product_info">
									<p class="cart_item__name product_name">
										<a href="https://theme396-clothes.myshopify.com/products/classic-fit-three-piece-check-suit?variant=7204377264187">Classic Fit Three-Piece Check Suit</a>
									</p>

									
										<p class="cart_item__variant">
											
												<span><b>Color</b>: Gray</span>
											
										</p>
									

									<div class="cart_item__details">
										<p class="item_type"><b>Product type:</b> Ethnic</p>
										<p class="item_vendor"><b>Vendor:</b> SuitUP</p>
										<p class="item_weight"><b>Weight:</b> 0.0 kg</p>
									</div>

									<a class="btn cart_item__remove" href="https://theme396-clothes.myshopify.com/cart/change?line=1&amp;quantity=0">Remove</a>
								</td>

								<td class="column_price">
									<span class="money" data-currency-usd="$140.00">$140.00</span>
								</td>

								<td class="column_quantity">
									<div class="quantity_box">
										<span class="quantity_down"><i class="fa fa-minus" aria-hidden="true"></i></span>

										<input id="updates_7204377264187:e060edfb3b37959fcbe32e285a5b483d" name="updates[]" value="2" class="quantity_input" type="text">
										
										<span class="quantity_up"><i class="fa fa-plus" aria-hidden="true"></i></span>

										<button type="submit" name="update" class="btn">Update</button>
									</div>
								</td>

								<td class="column_total">
									<span class="money" data-currency-usd="$280.00">$280.00</span>
								</td>
							</tr>
						
					</tbody>

					<tfoot>
						<tr>
							<td colspan="5">
								<p class="cart_total">Total weight <span>0.0 lb</span></p>
							</td>
						</tr>

						<tr>
							<td colspan="5">
								<p class="cart_total">Total price <span class="money" data-currency-usd="$280.00">$280.00</span></p>
							</td>
						</tr>

						<tr>
							<td colspan="5">
								<label for="cart_note">Add a note to your order</label>
								<textarea name="note" id="cart_note"></textarea>

								
								<p class="alert alert-warning">Suitup process all orders in USD. Shipping &amp; taxes calculated at checkout.</p>
							</td>
						</tr>

						

						

						<tr>
							<td colspan="5">
								<a class="btn" href="https://theme396-clothes.myshopify.com/collections">Continue shopping</a>
								<button type="submit" name="checkout" class="btn btn_alt">Proceed to checkout</button>
								<div class="clearfix"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		
	</div>
</div> 
							    
							</div>

							
					
					
					
						<div id="shopify-section-footer" class="shopify-section">


<footer style="background: rgba(0,0,0,0);"> 
	<div class="footer_row__1"> 
		<div class="container">

			<div class="row footer_main">
				
					<div class="col-sm-3 footer_block footer_block__2_1">
						
								<div class="footer_item footer_item__about with_bg" style="background: #ffffff;">
									<h3>About our company</h3>

									
										<img src="~/assets/images/footer_logo_100x60_crop_center.png" alt="SuitUP">
									

									
										<div class="about_text"><p>The theme is the great choice to launched your e-commerce project. You can choose it not only for fashion business, it's also fitting for electronics, car, cosmetics, furniture and other e-stores. The main Zemez Template will be supporting and updating to all new technical requirements.</p></div>
									
								</div>
						 
					</div>
				
					<div class="col-sm-3 footer_block ">
						
<div class="footer_item footer_item__links with_bg" style="background: #ffffff;">
									<h3>Categories</h3>

									<ul>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/men-s-clothing">Men’s clothing</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/women-s-clothing">Women’s clothing</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/footwear">Footwear</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/overcoats">Overcoats</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/teens-clothing">Teen’s clothing</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/sale">Sale</a>
											</li>
										
									</ul>
								</div>

							 
					</div>
				
					<div class="col-sm-3 footer_block footer_block__2_1">
						
<div class="footer_item footer_item__links with_bg" style="background: #ffffff;">
									<h3>Information</h3>

									<ul>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/about-us">About Us</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections">Collections</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/collections/all">Catalog</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/contact-us">Contact Us</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/password-page">Password</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/privacy-policy">Privacy Policy</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/blogs/blog">Blog</a>
											</li>
										
									</ul>
								</div>

							 
					</div>
				
					<div class="col-sm-3 footer_block ">
						
<div class="footer_item footer_item__links with_bg" style="background: #ffffff;">
									<h3>My Account</h3>

									<ul>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/account">My Account</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/account/login">Log In</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/account/addresses">Addresses</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/account/orders">My Orders</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/password-page">Password</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/pages/contact-us">Contact Us</a>
											</li>
										
											<li>
												<a href="https://theme396-clothes.myshopify.com/blogs/news">Latest News</a>
											</li>
										
									</ul>
								</div>

							 
					</div>
				

			</div>

		</div>

	</div>

	
		

		<div class="footer_row__2 "> 
			<div class="container">
				<div class="footer_wrap_1">
					
						
							<div class="footer_wrap_2 footer_left">
								©SuitUP. <a target="_blank" rel="nofollow" href="https://www.shopify.com/?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>
							</div>
						
					

					
						

						<div class="footer_wrap_2 footer_right">
							<ul class="footer_payments">
								
									
								
									
								
									
								
									
								
									
										<li><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
									
								
									
										<li><i class="fa fa-cc-paypal" aria-hidden="true"></i></li>
									
								
									
								
									
										<li><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
									
								
									
								
							</ul>
						</div>
					
				</div>
			</div>
		</div>
	
</footer>


<style>
	#shopify-section-footer footer {padding-top: 0px;}
</style>

	



</div>
					
				</div>

				<a id="back_top" href="https://theme396-clothes.myshopify.com/cart#" style="display: none;">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</a>
			
		</div>

		<script src="~/assets/lib/js/assets.js" defer=""></script>
		<script src="~/assets/lib/js/shop.js" defer=""></script>
		<link href="~/assets/lib/css/style.scss.css" rel="stylesheet" type="text/css" media="all">

		
		
		
			<script>
				theme.titleAnimation = false;
			</script>
		

		

		<script>
			var loadDeferredStyles = function() {
				var addStylesNode = document.getElementById('deferred_styles');
				var replacement = document.createElement('div');
				replacement.innerHTML = addStylesNode.textContent;
				document.body.appendChild(replacement)
				addStylesNode.parentElement.removeChild(addStylesNode);
			};
			var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
			if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
			else window.addEventListener('load', loadDeferredStyles);
		</script>

		

		<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/1751482427/digital_wallets/dialog">
<script id="shopify-features" type="application/json">{"accessToken":"5e4b6b2235b046acde178f71b5e8ffa6","betas":["rich-media-storefront-analytics"],"domain":"theme396-clothes.myshopify.com","predictiveSearch":true,"shopId":1751482427,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "theme396-clothes.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.country = "US";
Shopify.theme = {"name":"theme396","id":13356662843,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script><div>
			<link href="~/assets/lib/css/responsive.scss.css" rel="stylesheet" type="text/css" media="all">
			

	

	

	

	

	<link href="~/assets/lib/css/fonts.css" rel="stylesheet" type="text/css">


		</div>
<script id="__st">var __st={"a":1751482427,"offset":-14400,"reqid":"b34e27f8-687c-4bc2-b2aa-7bd375a4924a","pageurl":"theme396-clothes.myshopify.com\/cart","t":"prospect","u":"a8b583e38a0f"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>!function(o){o.addEventListener("DOMContentLoaded",function(){window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"};var t=['form[action*="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action*="/account"] input[name="form_type"][value="customer_login"]','form[action*="/account"] input[name="form_type"][value="recover_customer_password"]','form[action*="/account"] input[name="form_type"][value="create_customer"]','form[action*="/contact"] input[name="form_type"][value="customer"]'].join(",");function n(e){e=e.target;null==e||null!=(e=function e(t,n){if(null==t.parentElement)return null;if("FORM"!=t.parentElement.tagName)return e(t.parentElement,n);for(var o=t.parentElement.action,r=0;r<n.length;r++)if(-1!==o.indexOf(n[r]))return t.parentElement;return null}(e,["/contact","/comments","/account"]))&&null!=e.querySelector(t)&&((e=o.createElement("script")).setAttribute("src","https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"),o.body.appendChild(e),o.removeEventListener("focus",n,!0),o.removeEventListener("change",n,!0),o.removeEventListener("click",n,!0))}o.addEventListener("click",n,!0),o.addEventListener("change",n,!0),o.addEventListener("focus",n,!0)})}(document);</script>
<script integrity="sha256-jv2X6Wco+RqnTUpuisvoARrdoX0sC2zNhgChvdJFM5I=" data-source-attribution="shopify.loadfeatures" defer="defer" src="~/assets/lib/js/load_feature.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="~/assets/lib/js/features.js" crossorigin="anonymous"></script>
<script id="sections-script" data-sections="header,footer" defer="defer" src="./Your Shopping Cart – SuitUP_files/scripts.js.download"></script>

<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>

	

</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>